@{
    ViewData["Title"] = "Perpustakaan";
}
<html>
<head>
<style>
body {
  background-image: url('https://i0.wp.com/www.arrisalah.net/wp-content/uploads/2017/05/wallpapers-textures-minimalistic-desktop-best-images.jpg?fit=1920%2C1080&ssl=1');
}
</style>
</head>
<body>
<html>
  
<div class="container">
<div class="row">
<div class="col-md-6 description">
<h3><b><i>Welcome to our website</i></b></h3>
<p>Please enjoy our website.
   read as many books as you can by reading books. 
   opening the window of the world.
   Reading adds to our insight into our disobedience to the world.
   There are also many benefits of let's start reading from now on.</p>
</div>
<div class="col-md-6 rigth-image text-center">
  <img src="https://www.saferkidsandhomes.com/wp-content/uploads/2018/01/rajin-belajar.jpg"width="280" height="180">
</div>
</div>
<div class="row">
<div class="col-md-6 right">
<p class="rigth">Please enjoy our website.
   read as many books as you can by reading books. 
   opening the window of the world.
   Reading adds to our insight into our disobedience to the world.
   There are also many benefits of let's start reading from now on.</p>
</div>
</div>
  <img src="https://kaksuata.files.wordpress.com/2018/02/read-book-knowledge.jpg"width="280" height="180">
</body>
</html>