@{
    ViewData["Title"] = "Perpustakaan";
}

<html>
<head>
<style>
body {
  background-image: url('https://i.pinimg.com/originals/9c/ee/ce/9ceecebbbef332f889650bca474fd8e7.png');
}
</style>
</head>
<body>

<h1><center style="color:yellow;">PERPUSTAKAAN MULYO ABADI</center></h1>
<h2><center style="color:yellow;">Silahkan Membaca</center></h2>

</body>
</html>
