@{
    ViewData["Title"] = "Perpustakaan";
}
<html>
<head>
<style>
body {
  background-image: url('https://i0.wp.com/www.arrisalah.net/wp-content/uploads/2017/05/wallpapers-textures-minimalistic-desktop-best-images.jpg?fit=1920%2C1080&ssl=1');
}
</style>
</head>
<body>
<html>
  
<div class="container">
<div class="row">
<div class="col-md-6 description">
<h3><b><i>Selamat datang di website kami</i></b></h3>
<p>Silakan nikmati website kami.
   Bacalah buku sebanyak mungkin dengan membaca buku. 
   membuka jendela dunia.
   Membaca menambah wawasan kita tentang ketidaktaatan kita terhadap dunia.
   Ada juga banyak manfaat mari kita mulai membaca dari sekarang.</p>
</div>
  <img src="https://kaksuata.files.wordpress.com/2018/02/read-book-knowledge.jpg"width="280" height="180">
</body>
</html>
<style>
  section{
    margin: auto;
    display: flex;
  }
</style>
<section>
  <img src="https://kaksuata.files.wordpress.com/2018/02/read-book-knowledge.jpg"width="280">
  <div class="row">
<div class="col-md-6 description">
  <p>Silakan nikmati website kami.
   Bacalah buku sebanyak mungkin dengan membaca buku. 
   membuka jendela dunia.
   Membaca menambah wawasan kita tentang ketidaktaatan kita terhadap dunia.
   Ada juga banyak manfaat mari kita mulai membaca dari sekarang.</p>
</div>
</section>