@{
    ViewData["Title"] = "Perpustakaan";
}
<style>
section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}
.kolom{
  margin-top: 70px;
  margin-bottom: 80px;
}
.kolom .judul {
  font-size: 30px;
  font-weight: bold;
  font-family: 'DPSDbeyond';
}
h5{
  font-family: initial;
  font-weight: 800;
  font-size: 25px;
  margin-bottom: 30px;

}
a.tombol{
  background: #fc5185;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
</style>
<body>
<html>
  <section>
  <img src="https://img.freepik.com/free-vector/international-literacy-day-with-lots-books_23-2148608688.jpg?size=338&ext=jpg"width="550">
  <div class="kolom">
    <p class="judul"> Perpustakaan Mulyo Abadi</p>
    <h5>Selamat Datang</h5>
    <p><a href="https://localhost:5001/Home/List" class="tombol">Masuk</a></p>

  </div>
</body>
</html>
</section>