@{
    ViewData["Title"] = "Perpustakaan";
}
<tr>
      <td><img src="https://mustakim.org/wp-content/uploads/2020/11/%E2%88%9A-100-Contoh-Buku-Non-Fiksi-Lengkap-Beserta-Pengarangnya-1.png" width="250" height="150" ></td>
      <td style="color: black;"><a href="https://localhost:5001/Home/Isi">Ir.Soekarno</a></td>    
</tr>