@{
    ViewData["Title"] = "Perpustakaan";
}
<style>
    section{
        margin: auto;
        display: flex;
        margin-bottom: 50px;
    }
</style>
<section>
    <div class="posisi">

    <img src="https://s4.bukalapak.com/img/496434901/w-1000/3099981-63_scaled.jpg" width="300">
    </div>
    <div class="isi">
    <h1 style="font-family: BOLDFINGER;">Deskripsi Buku</h1>
    <p style="font-family: Arial, Helvetica, sans-serif;">"Berubah; banyak orang yang ingin melakukannya.
         Entah mengubah penampilan, hidup, kebiasaan, teman, tempat kerja, ataupun yang lainnya.
         Mengubah sesuatu yang tampak secara fisik mungkin bukan hal sulit,
         tapi bagaimana dengan mengubah ""diri sendiri"" yang notabene ""tak kasatmata""?
         Bisa jadi, saat kita ingin berubah, kita merasa takut, galau, cemas, gelisah, atau bingung.
         Tariklah napas dalam-dalam dan mulailah membuka lembar demi lembar buku ini.
         Dengan bahasa yang ringan dan mudah dipahami, 
         buku ini akan membantu Anda menemukan titik cerah bagaimana mengubah diri Anda sehingga menjadi pribadi yang baik,

         sesuai dengan yang Anda inginkan, dengan perasaan tenang dan nyaman.</p>
    <a href="https://localhost:5001/Home/Pinjam">Pinjam Buku</a>

    </div>
</section>