@{
    ViewData["Title"] = "Perpustakaan";
}

<style>
    section{
        margin: auto;
        display: flex;
        margin-bottom: 50px;
    }
</style>
<section>
    <tr>
      <table class="table table-striped">
      <thead class="thead-dark">
      <th scope="col">Buku</th>
      <th scope="col">Judul</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <td><img src="https://www.solusibuku.com/image/data/produk/smm/Slide75.jpeg" width="250" height="150" ></td>
      <td>Dongeng sang kancil</td>     
    </tr>
    <tr>
      <td><img src="https://mustakim.org/wp-content/uploads/2020/11/%E2%88%9A-100-Contoh-Buku-Non-Fiksi-Lengkap-Beserta-Pengarangnya-1.png" width="250" height="150" ></td>
      <td><a href="https://localhost:5001/Home/Isi">Ir.Soekarno</a></td>    
    </tr>
    <tr>
      <td><img src="https://akcdn.detik.net.id/community/media/visual/2018/08/10/09f34ac1-317c-43cb-9c42-742ceff50da4.jpeg?w=700&q=90" width="250" height="150" ></td>
      <td>Harry Potter dan si anak Terkutuk</td>
    </tr>
    <tr>
      <td><img src="https://cdn.idntimes.com/content-images/community/2018/05/31ba4ca9658ba6c8abbc8d06827df099.jpg" width="250" height="250" ></td>
      <td>Perahu Kertas.</td>
    </tr>
  </tbody>
</table>
</section>
