@{
    ViewData["Title"] = "Perpustakaan";
}
<style>
    section{
        margin: auto;
        display: flex;
        margin-bottom: 50px;
    }
</style>
<section>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Buku</th>
      <img src="https://www.solusibuku.com/image/data/produk/smm/Slide75.jpeg" width="300" height="200" >
      <th scope="col">Deskripsi</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <td scope="row">Dongeng Sang Kancil</td>
      <td>Merupakan Cerita Dongeng Anak Anak</td>
      
    </tr>
    <tr>
      <td scope="row">Sangkuriang</td>
      
      <td>Buku Sangkuriang merupakan buku Dongeng asal usul Tangkuban Prahu</td>
      
    </tr>
  </tbody>
</table>
</section>
