@model IEnumerable<Buku>
@{
    ViewData["Title"] = "Perpustakaan";
}

<style>
    section{
        margin: auto;
        display: flex;
        margin-bottom: 50px;
    }
</style>
<section>
    <tr>
      <table class="table table">
      <thead class="thead-dark">
      <th scope="col">Buku</th>
      <th scope="col">Judul</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <td><img src="https://images.bisnis-cdn.com//upload/img/Invested%20-%20Danielle%20Town.png" width="250" height="150" ></td>
      <td><a href="https://localhost:5001/Home/Invested">Invested</a></td>  
    </tr>
    <tr>
      <td><img src="https://aquariuslearning.co.id/wp-content/uploads/2020/01/raw-atomic-habits.png" width="150"></td>
      <td><a href="https://localhost:5001/Home/AthomicHabits">Athomic Habits</a></td>    
    </tr>
    <tr>
      <td><img src="https://cf.shopee.co.id/file/6346cc2e197c5f3a1ffe3574ac818ba1" width="250" height="150" ></td>
      <td><a href="https://localhost:5001/Home/KebiasaanHidup">KebiasaanHidup</a></td>
    </tr>
  </tbody>
</table>
</section>
