@model IEnumerable<Buku>
@{
    ViewData["Title"] = "Perpustakaan";
}

<style>
    section{
        margin: auto;
        display: flex;
        margin-bottom: 50px;
    }
    .List{
      width: 100%;
      position: relative;
      display: flex;
      flex-wrap: wrap;
    }
    .Gambar{
      width: 20%;
      margin: 0 auto;
    }
    .Gambar p{
      font-family: sans-serif;
      font-weight: 800;
      font-size: 11px;
      color: black;
    }
    .Gambar h5{
      font-family: sans-serif;
      font-weight: 800;
      font-size: 12px;
      color: black;
    }
</style>
<section>
  <tbody>
    <div class="List">
      <div class="Gambar">
      <h5>Invested by Danielle Town</h5>
      <a href="https://localhost:5001/Home/AthomicHabits"><img src="https://images.bisnis-cdn.com//upload/img/Invested%20-%20Danielle%20Town.png" width="200"  ></a>
    </div>
    <div class="Gambar">
      <h5>Atomic Habits</h5>
      <a href="https://localhost:5001/Home/AthomicHabits"><img src="https://aquariuslearning.co.id/wp-content/uploads/2020/01/raw-atomic-habits.png" width="140"  ></a>
    </div>
    <div class="Gambar">
      <h5>Berdamai Dengan Rasa Malas</h5>   
     <a href="https://localhost:5001/Home/BerdamaiMalas"> <img src="https://cf.shopee.co.id/file/727c914b827fd0a19bcb646fb023b295" width="180"  ></a>
    </div>
    <div class="List">
      <div class="Gambar">
      <h5>Invested by Danielle Town</h5>
      <a href="https://localhost:5001/Home/AthomicHabits"><img src="https://images.bisnis-cdn.com//upload/img/Invested%20-%20Danielle%20Town.png" width="200"  ></a>
    </div>
    <div class="Gambar">
      <h5>Atomic Habits</h5>
      <a href="https://localhost:5001/Home/AthomicHabits"><img src="https://aquariuslearning.co.id/wp-content/uploads/2020/01/raw-atomic-habits.png" width="140"  ></a>
    </div>
    <div class="Gambar">
      <h5>Berdamai Dengan Rasa Malas</h5>   
     <a href="https://localhost:5001/Home/BerdamaiMalas"> <img src="https://cf.shopee.co.id/file/727c914b827fd0a19bcb646fb023b295" width="180"  ></a>
    </div>
    <div class="List">
      <div class="Gambar">
      <h5>Invested by Danielle Town</h5>
      <a href="https://localhost:5001/Home/AthomicHabits"><img src="https://images.bisnis-cdn.com//upload/img/Invested%20-%20Danielle%20Town.png" width="200"  ></a>
    </div>
    <div class="Gambar">
      <h5>Atomic Habits</h5>
      <a href="https://localhost:5001/Home/AthomicHabits"><img src="https://aquariuslearning.co.id/wp-content/uploads/2020/01/raw-atomic-habits.png" width="140"  ></a>
    </div>
    <div class="Gambar">
      <h5>Berdamai Dengan Rasa Malas</h5>   
     <a href="https://localhost:5001/Home/BerdamaiMalas"> <img src="https://cf.shopee.co.id/file/727c914b827fd0a19bcb646fb023b295" width="180"  ></a>
    </div>
  </tbody>
</table>
</section>
</div>
