@model IEnumerable<Buku>
@{
    ViewData["Title"] = "Perpustakaan";
}
<h1><center>Rekomendasi Buku:</h1></center><br>
<style>
  .buku-list {
    width: 100%;
    position: relative;
    display: inline-flex;
    flex-wrap: nowrap;
  }
  .listbuku {
    margin: 0 auto;
  }
  .listbuku p {
    font-family: 'muara demo';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: black;
  }

</style>
<div class="buku-list">
    <div class="listbuku">
    <img src="https://upload.wikimedia.org/wikipedia/jv/thumb/b/b5/KBBI2005.jpg/1200px-KBBI2005.jpg"width="170"/>
    <p>Kamus</p>
    </div>
    <div class="listbuku">
    <a href="https://localhost:5001/List/AtomicHabit"><img src="https://aquariuslearning.co.id/wp-content/uploads/2020/01/raw-atomic-habits.png"width="170"/></a>
      <p>Atomic Habit</p>
    </div>
    <div class="listbuku">
      <a href="https://localhost:5001/Home/KebiasaanHidup"><img src="https://s4.bukalapak.com/img/496434901/w-1000/3099981-63_scaled.jpg"width="145"/></a>
      <p>Naruto</p>
    </div>
    <div class="listbuku">
    <img src="https://inc.mizanstore.com/aassets/img/com_cart/produk/GRK-075.jpg"width="140"/>
    <p>One Piece</p>
    </div>
    <div class="listbuku">
    <img src="https://th.bing.com/th/id/OIP.tx8r7srjOI7I0X12jK9fiQHaK0?w=203&h=298&c=7&r=0&o=5&dpr=1.5&pid=1.7"width="140"/>
    <p>Soekarno</p>
    </div>
    <div class="listbuku">
      <a href="https://localhost:5001/List/Invested"><img src="https://images.bisnis-cdn.com//upload/img/Invested%20-%20Danielle%20Town.png" width="240"/></a>
      <p>Invested</p>
    </div>
    </div>
  </div>
</div>
