@model Details
@{
    ViewData["Title"] = "Detail";
}
<style>
    .h5{
        padding: 10px;
    }
</style>
<h3>@Html.DisplayFor(modelItem => Model.Judul)</h3><br>
    
        <h5>Judul:</h5>
        @Html.DisplayFor(modelItem => Model.Judul)<br>
    
        <h5>Pengarang</h5>
        @Html.DisplayFor(modelItem => Model.Pengarang)<br>
   
        <h5>Tahun Terbit</h5>
        @Html.DisplayFor(modelItem => Model.TahunTerbit)<br>
   