@model Detail
@{
    ViewData["Title"] = "Detail";
}

<h1>@Html.DisplayFor(modelItem => Model.Judul)</h1>
<table class="table table-hover">
    <tr>
        <td>Judul</td>
        <td>@Html.DisplayFor(modelItem => Model.Judul)</td>
    </tr>
    <tr>
        <td>Deskripsi</td>
        <td>@Html.DisplayFor(modelItem => Model.Deskripsi)</td>
    </tr>
</table>