@{
    ViewData["Title"] = "Perpustakaan";
}
<style>
    section{
        margin: auto;
        display: flex;
        margin-bottom: 50px;
    }
</style>
<section>
    <div class="posisi">
    <img src="https://images.bisnis-cdn.com//upload/img/Invested%20-%20Danielle%20Town.png" width="350">
    </div>
    <div class="isi">
    <h1 style="font-family: BOLDFINGER;">Deskripsi Buku</h1>
    <p style="font-family: Arial, Helvetica, sans-serif;">
        Di Invested, Danielle menunjukkan kepada Anda 
        bagaimana melakukan hal yang sama:
         bagaimana mengendalikan hidup dan keuangan Anda sendiri 
         dengan memilih perusahaan dengan misi yang sesuai dengan nilai-nilai Anda, 
         menggunakan strategi standar emas yang sama yang telah 
         melambungkan Warren Buffett dan Charlie Munger ke puncak Forbes 400.
         Menghindari matematika yang rumit dan model keuangan usang, 
         dia mengubah pengetahuan investasi ayahnya menjadi dua belas pelajaran yang mudah dipahami.</p><br>
         <tr>
      <table class="table table">
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <td>Pengarang : aku</td>
      <td>Judul : aku</td>  
    </tr>
  </tbody>
</table>
    <button ><a href="https://localhost:5001/Home/Pinjam">Pinjam Buku</a></button>
    </div>
</section>